@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf7ff;
  background-attachment: fixed;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.icon-fill {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
/* Hide scrollbar for clean aesthetic */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
